.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #00000050;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #00000033;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.close {
  cursor: pointer;
  font-size: 20px;
  color: #000000;
  border-radius: 50%;
}